body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 900px;
    text-align: center;
    overflow: hidden;
}

h1 {
    color: #333;
}

button {
    margin-top: 20px;
    padding: 20px 40px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 24px;
}

button:hover {
    background-color: #0056b3;
}

#quiz-container {
    margin-top: 30px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

#caramelito {
    font-size: 5rem;
    display: inline-block;
    margin-top: 20px;
    cursor: pointer;
    animation: pulse 1s infinite;
    position: relative;
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
}

.additional-caramelito {
    font-size: 2rem;
    position: absolute;
    animation: explode 1s forwards;
}

@keyframes explode {
    0% {
        transform: scale(0.1);
        opacity: 1;
    }
    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}
